extends ../head
block content
    ul(class="list-group")
        each el in studentGroups
            li(class="list-group-item")
                // ссылка на страницу расписания группы
                a(href="/groupSchedule/" + el.id) #{el.name}