extends ../head

block content
    h2= title
    form(action="/addDiscipline", method="POST")
        input(
            name="name"
            type="text"
            placeholder="Название дисциплины"
            required
        )
        input(type="submit" value="Добавить")