extends ../head

block content
    h2= title
    a(href="/addDiscipline" class="btn btn-success") Добавить дисциплину
    ul(class="list-group")
        each el in disciplines
            li(class="list-group-item")
                a(href="/discipline/" + el.id)= el.name